<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create new Song</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>Let's make a test</h1>
        <form>
            <label>Title</label>
            <input type="text" placeholder="Type song's title…">

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Add
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>Chords</li>
                    <li>Lyrics</li>
                </ul>
            </div>

            <button type="submit" class="btn">Submit</button>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>